* {
    box-sizing: border-box;
}

html{
    height: 100%;/**/
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;/**/
}

.backdrop{
    /*Usually to make a backdrop, we need position fixed, and if we use relative as position property,it will not cover the entire page, instead since it stays in the document flow,
    it would stay on top of the  entire page*/
    position: fixed; /*When we change this to absolute, since we dont have such a position property for the ancestors then the position absolute declaration leads to the same 
    behaviour as position fixed, this means the percentage value refers to the viewport as the containing block, but when you scroll down, it does not stick to the viewport
    it just takes the height and width, the percentage value is based on a viewport but it behaves like a normal absolutely positioned element*/
    z-index:100;
    width: 100%;
    height: 100%;/*Apparenlty, we were able to get the width but not the height because height has to be defined in the content for working,
     even body has height but it is not defined in the content. (Only when we have not manually define height in body and using relative for position)*/
    background: rgba(0,0,0, 0.5);/*black with a little transparentcy*/
    top: 0;
    left: 0; /*these two properties are here to remove the extra margin*/
    display: none;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2ddf5c;
    padding: 8px 16px;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 22px;
    /* width: 20px; */
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
    /* width: 100%; */
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}
