body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active{ /* this selector is written as one word, we could simply say that means this targets an element which is an anchor tag and which has the active css classes*/
    color: purple;
}

/*
a:not(.active){
    */ 
    /* This will select all anchor tag that does not have class "active"*/ /*And here we want to select all anchor tags which directly don't have the active class*/
    /* by leaving a white space between a and :, this will select any elements that are nested in anchor tag that do not have the active class*/
   /* color: blue;
}*/

.main-section {
    height: 800px;
    border: 1px solid #ccc !important; /* !important overwrites specificity and all other selectors*/
    padding: 16px;
}

.highlighted{
    border: 2px solid red; /* because of the order, it defines later, so it wins*/

}