main {
  padding-top: 2.5rem;
}

.testimonial {
    font-size: 1.2rem;
  }
  
  /*.testimonial__list {
    width: 80%;
    margin: auto;
  }*/

  .testimonial__image-container {
    width: 100%;
    max-width: 40rem;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }
  
  .testimonial__info {
    text-align: right;
    padding: 0.9rem;
  }
  
  #customer-2.testimonial {
    text-align: right;
  }
  
  #customer-2 .testimonial__info {
    text-align: left;
  }
  
  .testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }
  
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }

  .testimonial__text {
    margin: 0.2rem;
    /*font-size: 40px;*/
    /*font-variant: small-caps;  All lower letter case character will change to captial letter*/
    /*font-stretch: ultra-condensed; */
    /*letter-spacing: 5px; spaces between spaces*/
    /*white-space: normal; 他会自己分行，决定什么时候重启新一行*/
    /*white-space: nowrap 所有text都在一行，而且browser没有impact*/
    /*white-space:pre/ pre-wrap / pre-line  他们会根据html里面空格的位置 来决定how to display*/
  }

  @media (min-width: 40rem) {
    .testimonial {
      margin: 3rem auto;
      max-width: 1500px;
    }

    .testimonial__image-container {
      display: inline-block;
      vertical-align: middle;
      width: 66%;
    }

    .testimonial__info {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
    }
    
  }
  
  